<div class="container d-table">
  <div class="d-100vh-va-middle">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mx-2">
          <div class="card-block p-2">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <form [formGroup]="userregistrationForm" (ngSubmit)="save(userregistrationForm.value, userregistrationForm.valid)" class="ui form">

            <div class="input-group mb-1">
                            <span class="input-group-addon"><i class="icon-user"></i>
                            </span>
              <input type="text" id="userName" class="form-control" placeholder="Username" formControlName="userName" required>
            </div>

            <div class="input-group mb-1">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" placeholder="Email" formControlName="email" required>
            </div>

              <div class="input-group mb-1">
                            <span class="input-group-addon">
                            </span>
                <input type="text" class="form-control" placeholder="Name" formControlName="name" required>
              </div>

              <div class="input-group mb-1">
                            <span class="input-group-addon">
                            </span>
                <input type="text" class="form-control" placeholder="Age" formControlName="age">
              </div>

              <div class="input-group mb-1">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
              <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
            </div>

            <div class="input-group mb-2">
                            <span class="input-group-addon"><i class="icon-lock"></i>
                            </span>
              <input type="password" class="form-control" placeholder="Repeat password" formControlName="password2" required>
            </div>

            <button type="submit" class="btn btn-block btn-success" [class.disabled]="!userregistrationForm.valid" [disabled]="!userregistrationForm.valid">Create Account</button>
            </form>
          </div>
          <div class="card-footer p-2">
            <div class="row">
              <div class="col-xs-6">
                <button class="btn btn-block btn-facebook" type="button">
                  <span>facebook</span>
                </button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-block btn-twitter" type="button">
                  <span>twitter</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
